.add-shoe {
  text-align: center;
  display: block;
  justify-content: space-between;
}

.add-shoe form {
  display: flex;
  text-align: left;
  margin-top: 20px;
  width: 100%;
  color: goldenrod;
}

.add-shoe label {
  display: block;
  margin: 10px 0;
}

.add-shoe input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
